# Appendix A - Implementation of the One Hot Encoder

In [3]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv(r"C:\Users\John Taiwo\Downloads\toyota.csv")
df.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [5]:
df1 = pd.get_dummies(df,prefix=['transmission'], columns =['transmission'])
df2 = pd.get_dummies(df1,prefix=['fuelType'], columns =['fuelType'])
df3 = pd.get_dummies(df2,prefix=['model'], columns =['model'])
df = df3
df.head()

,year,price,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,...,model_ IQ,model_ Land Cruiser,model_ PROACE VERSO,model_ Prius,model_ RAV4,model_ Supra,model_ Urban Cruiser,model_ Verso,model_ Verso-S,model_ Yaris
0,2016,16000,24089,265,36.2,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,15995,18615,145,36.2,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,13998,27469,265,36.2,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,18998,14736,150,36.2,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,17498,36284,145,36.2,2.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df['price'] = df['price'].apply(lambda x: 1 if x > df.price.mean() else 0)

df_1 = df.iloc[:5000,:]
df_2 = df.iloc[5001:,:]
df = df_1

df_2.info()
df_2.head(1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1737 entries, 5001 to 6737
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    1737 non-null   int64
 1   price                   1737 non-null   int64
 2   mileage                 1737 non-null   int64
 3   tax                     1737 non-null   int64
 4   mpg                     1737 non-null   float64
 5   engineSize              1737 non-null   float64
 6   transmission_Automatic  1737 non-null   uint8
 7   transmission_Manual     1737 non-null   uint8
 8   transmission_Other      1737 non-null   uint8
 9   transmission_Semi-Auto  1737 non-null   uint8
 10  fuelType_Diesel         1737 non-null   uint8
 11  fuelType_Hybrid         1737 non-null   uint8
 12  fuelType_Other          1737 non-null   uint8
 13  fuelType_Petrol         1737 non-null   uint8
 14  model_ Auris            1737 non-null   uint8
 15  model_ Avensis          1737 non-null   uint8
 16  model_ Aygo             1737 non-null   uint8
 17  model_ C-HR             1737 non-null   uint8
 18  model_ Camry            1737 non-null   uint8
 19  model_ Corolla          1737 non-null   uint8
 20  model_ GT86             1737 non-null   uint8
 21  model_ Hilux            1737 non-null   uint8
 22  model_ IQ               1737 non-null   uint8
 23  model_ Land Cruiser     1737 non-null   uint8
 24  model_ PROACE VERSO     1737 non-null   uint8
 25  model_ Prius            1737 non-null   uint8
 26  model_ RAV4             1737 non-null   uint8
 27  model_ Supra            1737 non-null   uint8
 28  model_ Urban Cruiser    1737 non-null   uint8
 29  model_ Verso            1737 non-null   uint8
 30  model_ Verso-S          1737 non-null   uint8
 31  model_ Yaris            1737 non-null   uint8
dtypes: float64(2), int64(4), uint8(26)
memory usage: 125.7 KB

,year,price,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Other,transmission_Semi-Auto,...,model_ IQ,model_ Land Cruiser,model_ PROACE VERSO,model_ Prius,model_ RAV4,model_ Supra,model_ Urban Cruiser,model_ Verso,model_ Verso-S,model_ Yaris
5001,2019,0,4535,145,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5002,2019,0,66,145,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5003,2020,0,4578,150,56.5,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5004,2016,0,29906,0,69.0,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5005,2020,0,4568,145,56.5,1.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,2018,1,8626,140,74.3,1.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5997,2017,1,22070,140,74.3,1.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5998,2018,1,7910,140,74.3,1.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5999,2017,1,11450,0,74.3,1.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6000,2017,1,23552,0,74.3,1.8,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
col_names = []
for col in df.columns:
    col_names.append(col)
print(col_names)

['year', 'price', 'mileage', 'tax', 'mpg', 'engineSize', 'transmission_Automatic', 'transmission_Manual', 'transmission_Other', 'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid', 'fuelType_Other', 'fuelType_Petrol', 'model_ Auris', 'model_ Avensis', 'model_ Aygo', 'model_ C-HR', 'model_ Camry', 'model_ Corolla', 'model_ GT86', 'model_ Hilux', 'model_ IQ', 'model_ Land Cruiser', 'model_ PROACE VERSO', 'model_ Prius', 'model_ RAV4', 'model_ Supra', 'model_ Urban Cruiser', 'model_ Verso', 'model_ Verso-S', 'model_ Yaris']

In [54]:
train_features = df[['year', 'mileage', 'tax',
       'mpg', 'engineSize','transmission_Automatic', 'transmission_Manual', 'transmission_Other', 'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid', 'fuelType_Other', 'fuelType_Petrol', 'model_ Auris', 'model_ Avensis', 'model_ Aygo', 'model_ C-HR', 'model_ Camry', 'model_ Corolla', 'model_ GT86', 'model_ Hilux', 'model_ IQ', 'model_ Land Cruiser', 'model_ PROACE VERSO', 'model_ Prius', 'model_ RAV4', 'model_ Supra', 'model_ Urban Cruiser', 'model_ Verso', 'model_ Verso-S', 'model_ Yaris']]
#features = df[['year','mileage','tax','mpg','engineSize',]]
train_labels = df['price']

test_features = df_2[['year', 'mileage', 'tax',
       'mpg', 'engineSize','transmission_Automatic', 'transmission_Manual', 'transmission_Other', 'transmission_Semi-Auto', 'fuelType_Diesel', 'fuelType_Hybrid', 'fuelType_Other', 'fuelType_Petrol', 'model_ Auris', 'model_ Avensis', 'model_ Aygo', 'model_ C-HR', 'model_ Camry', 'model_ Corolla', 'model_ GT86', 'model_ Hilux', 'model_ IQ', 'model_ Land Cruiser', 'model_ PROACE VERSO', 'model_ Prius', 'model_ RAV4', 'model_ Supra', 'model_ Urban Cruiser', 'model_ Verso', 'model_ Verso-S', 'model_ Yaris']]
#features = df[['year','mileage','tax','mpg','engineSize',]]
test_labels = df_2['price']

In [55]:
#train_features, test_features, train_labels, test_labels = train_test_split(features, label, test_size = 0.2, random_state = 42)

In [56]:
scalar = StandardScaler()
train_features = scalar.fit_transform(train_features)
test_features = scalar.transform(test_features)

In [96]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100)   
model.fit(train_features,train_labels)

RandomForestClassifier()

In [97]:
print(model.score(train_features, train_labels))

0.9994

In [98]:
print(model.score(test_features, test_labels))

0.8791018998272885